
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  transition: 0.3s;
  width: 111%;
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 10px;
  padding: 10;
  color: white;
  }

  /* .card_title{
    display: flex;
    font-family: Oxygen, sans-serif;
  } */

  button{
    background-color: rgb(102, 53, 116);
    color: white;
    font-family: fantasy;
  }

  h3{
    font-family: fantasy;
    font-size: x-large;
  }

  h4{
    font-family: fantasy;
    font-size: large;
  }

  h5{
    font-family: fantasy;
    font-size: x-small;
  }

  /* .card_catagory{
    display: flex;
  } */

  /* .card_details{
    display: flex;
    gap: 2rem;
    
  } */
  
  /* .card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 120%;
    height: 500px;
  } */

  body{
    font-family: Oxygen, sans-serif;
    /* margin:2rem; */
  }
/* 
  .users {
    display: none;
  } */

  /* .card_details:hover .users {
    display: flex;
  } */