

.card_container{
  /* background-color:rgb(148, 241, 8);  */
  /* margin-top: 40px;  
  grid-gap:20px; 
  justify-content:center;
  position: absolute;
  top: 80px; */
  display: grid;
  grid-template-columns: auto auto auto auto;
}