.home{
  background-image: url(https://typewriter.imgix.net/u/0b703439-8c15-450f-bd64-566ff833d54f/p/72388/map-of-camp-balcones-spring.jpg?ixlib=rails-2.1.4&auto=format%2Ccompress&crop=faces&fit=crop&w=1000);
 
}

h1 {
  display: center;
  text-size-adjust: 800px;
  color: red;
  text-shadow: yellow;
}
