#home{
 margin-top: 200px;
margin-right: 55px;
font-size: xx-large;
text-shadow: 200rem, yellow;
font-family: fantasy;
}

/* h1.home-title{
  font-size: xx-large;
} */

h1 {
  display: center;
  text-size-adjust: 800px;
  color: white;
  text-shadow: 50rem, yellow;
  text-align: center;
  margin-right: 50px;
  font-family: fantasy;
}

p {
  color: #fff;
  line-height: 1.4;
  vertical-align: bottom;
  margin-top: 500px;
  
}

 /* .home {
  background-image: url(https://static-cse.canva.com/blob/573253/10experttipsfordesigningwithablurredbackgroundfeaturedimage.jpg);
  background-size: cover;
} */
